<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="refresh" content="30">
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
  <button onclick="location.href = '/login';" id="myButton">login</button>

</body>

</html>