<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <body>
    Welcome <%= name %><br>
     
  </body>
</html>
